<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cliente Blockchain</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

    <style>
        body {
            padding-top: 54px;
            font-family: 'Lora', serif;
        }

        .navbar{
            background-color: #28a745!important;
        }

        a{
            color: rgba(255,255,255,.6);
            text-decoration: none;
        }

        a:hover{
            color: rgba(255,255,255,.8);
            text-decoration: none;
        }

        .row {
            padding: 4pt;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Cliente Blockchain</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto float-right">
                        <li class="ml-4"><a href="/"><span class="glyphicon glyphicon-off"></span>Generar Claves</a></li>
                        <li class="ml-4"><a style="color: #fff" href="/make/transaction"><span class="glyphicon glyphicon-off"></span>Realizar Transacción</a></li>
                        <li class="ml-4"><a href="/view/transactions"><span class="glyphicon glyphicon-off"></span>Ver transacciones</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">Enviar monedas:</h4>
                    <p class="card-text">
                        Ingrese los detalles de la transacción y haga clic en el botón "Generar transacción" para que se ejecute su transacción</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container alert alert-secondary">
        <form id="transaction_form">

            <div class="row">
                <label class="col-sm-2">Clave Pública del remitente</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sender_public_key" id="sender_public_key">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2">Clave Privada del remitente</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sender_private_key" id="sender_private_key">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2">Clave Pública del receptor</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="recipient_public_key" id="recipient_public_key">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2">Monto</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="amount" id="amount">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <input type="button" class="btn btn-dark btn-lg" name="generate_transaction"
                        id="generate_transaction" value="Generar transacción">
                </div>
            </div>

        </form>
    </div>

    <div class="modal modal-alert fade" id="basic_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
        aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title col-md-10">Confirme los detalles de la transacción, ingrese una URL de nodo de blockchain y haga clic en
                        "Confirmar transacción" para finalizar su transacción.
                    </div>
                    <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <form id="confirmation_transaction_form">

                        <div class="row">
                            <label class="col-sm-12">Clave Pública del remitente:</label>
                            <div class="col-sm-12">
                                <input type="text" name="confirmation_sender_public_key" id="confirmation_sender_public_key"
                                    rows="2" class="form-control" readonly>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-12">Clave Pública del receptor:</label>
                            <div class="col-sm-12">
                                <input type="text" name="confirmation_recipient_public_key"
                                    id="confirmation_recipient_public_key" rows="2" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-12">Monto a enviar:</label>
                            <div class="col-sm-12">
                                <input type="text" name="confirmation_amount" id="confirmation_amount" rows="2"
                                    class="form-control" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-12">Firma de transacción:</label>
                            <div class="col-sm-12">
                                <input type="text" name="transaction_signature" id="transaction_signature" rows="2"
                                    class="form-control" readonly>
                            </div>
                        </div>

                    </form>


                    <div class="row">
                        <label class="col-sm-12">URL de nodo Blockchain:</label>
                        <div class="col-sm-12">
                            <input type="text" name="node_url" id="node_url" rows="2" class="form-control"
                                value="http://127.0.0.1:5001">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="button_confirm_transaction" class="btn btn-success">Confirmar transacción
                    </button>
                </div>

            </div>

        </div>
    </div>

    <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog"
        aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Transacción exitosa!</h4>
                        <p>Completó con éxito su transacción. Se agregará al siguiente bloque.</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="button_confirm_transaction" class="btn btn-success" data-dismiss="modal">OK
                    </button>
                </div>

            </div>
        </div>
    </div>
    </body>
</html>

<script language="JavaScript">
        $(function() {
            $('#generate_transaction').click(function() {
                
		        datos=$('#transaction_form').serialize();
		        d=datos.split('&');
		        vacios=0;
		        for(i=0;i< d.length;i++){
				    controles=d[i].split("=");
				    if(controles[1]=="A" || controles[1]==""){
    					vacios++;
                    }
                }
                if(vacios>0){
                    alert('Introduzca los valores correctos! Campos vacios');
                    return false;
                }

                
                $.ajax({
                    url: "/generate/transaction",
                    type: "POST",
                    dataType: 'json',
                    data: $('#transaction_form').serialize(),
                    success: function(response) {
                        console.log(response)
                        $('#confirmation_sender_public_key').val(response['transaction']['sender_public_key']);
                        $('#confirmation_recipient_public_key').val(response['transaction']['recipient_public_key']);
                        $('#confirmation_amount').val(response['transaction']['amount']);
                        $('#transaction_signature').val(response['signature']);
                        $('#basic_modal').modal('show');
                    },
                    error: function(error) {
                        alert('Introduzca los valores correctos! Error');
                        console.log(error);
                    }
                });
            });
            $('#button_confirm_transaction').click(function() {
                console.log("SIUU");
                $.ajax({
                    url: $('#node_url').val() + '/transaction/new',
                    type: "POST",
                    dataType: 'json',
                    header: {'Access-Control-Allow-Origin': '*'},
                    data: $('#confirmation_transaction_form').serialize(),
                    success: function() {
                        $('#generate_transaction').attr("disabled", true);

                        $('#sender_public_key').val('');
                        $('#sender_private_key').val('');
                        $('#recipient_public_key').val('');
                        $('#amount').val('');

                        $('#generate_transaction').attr("disabled", false);

                        $('#basic_modal').modal('hide');
                        $('#success_transaction_modal').modal('show');
                    },
                    error: function(error) {
                        alert("gaaaaa");
                        console.log(error);
                    }
                });
            });
        });
</script>
